
<!-- header section -->
<section class="banner" id="home">
  <header id="header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand ms-2 " href="#">CHEERS MAKEOVER</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="nav navbar-nav justify-content-end collapse navbar-collapse" id="navbarNav">
            <!--<li class="nav-item">
              <a class="nav-link"  href="#home">HOME</a>
            </li>-->
           
            <li class="nav-item" >
              <a class="nav-link" href="#services" style="color: white;font-family:Georgia, 'Times New Roman', Times, serif;">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userpage" style="color: white;font-family:Georgia, 'Times New Roman', Times, serif;">APPOINTMENT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section-profile" style="color: white;font-family:Georgia, 'Times New Roman', Times, serif;">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gallery" style="color: white;font-family:Georgia, 'Times New Roman', Times, serif;">GALLERY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#teams" style="color: white;font-family:Georgia, 'Times New Roman', Times, serif;">STYLISH</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact" style="color: white;font-family:Georgia, 'Times New Roman', Times, serif;">CONTACT</a>
            </li>
            <li class="nav-item">
               <a href="#" style="color:#f9814d ;font-size: medium;" style="color: white;font-family:Georgia, 'Times New Roman', Times, serif;"> <%= name %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout" style="color: white;font-family:Georgia, 'Times New Roman', Times, serif;">LOG OUT</a>
            </li>
          </ul>
        </div>
      </nav>
  </header>

  

  <!-- banner text -->
  <div class="container">
    <div class="col-md-6 col-sm-12">
      <div class="banner-text text-center">
        <h1>The <svg xmlns="http://www.w3.org/2000/svg" width="16" height="40" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg></span> <span>Beauty</span> Parlour</h1>
        <p>Cheers makeover is the new and leading women's beauty parlour in Erode.
          We are dedicated artists and we make your body units beauty and
              we takes care about your skin,face....<br/> </p></div>
      <!-- banner text --> 
    </div>
  </div>
</section>
<!-- header section --> 
<!-- intro section -->
<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-12 col-md-offset-2 text-center">
      <h3>Welcome to Cheers Makeover..</h3>
      <p>The Cheers makeover is the brand new women's beauty parlour located at Erode.We provide all type of makeup for womens and we get successful survey about our work on bridal,evening and basic makeup.
        We offer you with 10% of discount in any of makeup if you visit cheers makeover for the first time.</p> 
        <a href="/userform" class="btn btn-large book"  style="color: white;font-family:Georgia, 'Times New Roman', Times, serif;">Book Appointment</a> 
    </div>
  </div>
</section>
<!-- intro section --> 
<!-- services section -->
<section id="services" class="services service-section">
  <div class="container">
  <div class="section-header">
                <h2 class="wow fadeInDown animated" >Our Services</h2>
            
            </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 services text-center"><span class="icon"><i class="bi bi-alarm-fill"></i></span>
        <div class="services-content" style="padding-bottom: 10px;padding-left: 10px;padding-right: 10px;">
          <h5>Bridal Makeup</h5>
          <p>Bridal makeup is an essential part of the wedding planning process and designing the perfect look for your wedding day is my number one priority. Here you will find some of the latest beauty trends along with coordinating makeup vision boards to serve as inspiration.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 services text-center"> <span class="icon"><i class="bi bi-alarm-fill"></i></span>
        <div class="services-content"  style="padding-bottom: 10px;padding-left: 10px;padding-right: 10px;">
          <h5>HD Makeover</h5>
          <p>HD makeup is makeup that essentially mimics natural skin while concealing some imperfections, dark circles, and uneven tone, but the goal is that it shouldn't look like makeup, meaning you shouldn't be able to detect it,” explains Caroline.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 services text-center"> <span class="icon"><i class="bi bi-alarm-fill"></i></span>
        <div class="services-content" style="padding-bottom: 0px;padding-left: 10px;padding-right: 10px;">
          <h5>Bridesmaid Makeup</h5>
          <p>Keeping all of the makeup looks uniform between you and your bridesmaids. The bride should always stand out from the rest of the bridal party. Sure, you're already wearing a stunning white dress, but makeup-wise, you should also look different. Even tweaking your look slightly will make you that much more of the focus.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 services text-center"> <span class="icon"><i class="bi bi-alarm-fill"></i></span>
        <div class="services-content" style="padding-bottom: 20px;padding-left: 10px;padding-right: 10px;">
          <h5>Party Makeup</h5>
          <p>Party makeup is our cosmetic collection's time to shine. Whether you have a fancy event to attend or have planned quality time with the girls, this is your chance to dig out those beauty products that show the world you mean business.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- services section --> 
<section id="section-profile" class="section-padding">
		<div class="profile-bg visible-md visible-lg"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-12 pull-right">
					<div class="profile-desc wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
						 <h2 class="section-title uppercase">About Us</h2>
<br>
At the Beauty Parlour, we believe in beauty with a conscience. We have created a parlour that offers the highest quality makeup services in a setting that is healthier for the environment, our guests and our staff. 
<br><br>
The Beauty Parlour is designed and built primarily with recycled materials: the floor is made of reclaimed wood from a local grain elevator preserving and showcasing its natural texture and most of the fixtures and furniture are refurbished or original vintage pieces.
<br>
<br>

We carry high quality professional makeup products designed to ensure our guests look their best, both in the parlour and at home. The makeup care products we carry have been carefully chosen based both on performance and eco-sensitivity. As a clean air parlour, we offer ammonia-free colour services with little to no scent properties or chemical emanation. This healthier alternative to traditional colouring practices is also safe for expectant mothers and individuals with allergies or scent sensitivities.


We are committed to providing healthy makeup care with a low impact on the environment. Come see what you and your makeup can do for the Earth.
					  
					</div>
					
					
				</div>
        <div class="col-md-5 img-responsive">
            <img src="/css/images/DSC_0498.JPG"alt="" style="width: 300px;height: 550px;">
        </div>
			</div> <!-- row end -->
		</div><!-- container end -->
	</section>
<!-- package section --> 

<!-- gallery section -->
<section id="gallery" class="gallery section">
  <div class="container">
    <div class="section-header">
                <h2 class="wow fadeInDown animated">Gallery</h2>
               
            </div>
    <div class="row no-gutter">
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/css/images/DSC_0498.JPG" class="work-box"> <img src="/css/images/DSC_0498.JPG" alt="">
        <div class="overlay">
          <div class="overlay-caption">
             <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/css/images/_66A8904.jpg" class="work-box"> <img src="/css/images/_66A8904.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/css/images/_66A8912.jpg" class="work-box"> <img src="/css/images/_66A8912.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/css/images/DSC_0491.JPG" class="work-box"> <img src="/css/images/DSC_0491.JPG" alt="">
        <div class="overlay">
          <div class="overlay-caption"> 
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
     
  </div>
</section>
<!-- gallery section --> 
<!-- our team section -->
<section id="teams" class="section teams">
  <div class="container">
    
      <div class="section-header">
                <h2 class="wow fadeInDown animated" >Stylist</h2>
                
            </div>
            <!-- <div style="margin-left: 38%;"> -->
    <div class="row" >
      <div class="col-md-8 offset-0 offset-md-4 col-sm-12">
        <div class="person ms-md-5"><img src="/css/images/_66A8901.jpg"alt=""  class="img-fluid">
          <div class="person-content">
           
            <h5>Andal sankar</h5>
          </div>
          <ul class="social-icons clearfix">

            <li><a href="https://instagram.com/cheers_makeover?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
            <li style="color: black;">Instagram</li>
          </ul>
        </div>
      </div>
      </div>
      </div>
      <!-- </div> -->
      </div></section>
<!-- our team section --> 


<!-- contact section -->
<section id="contact" class="section">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated" >Contact Us</h2>
            </div>
    <div class="row">
      <div class="col-md-8 offset-md-3 conForm">       
        <div id="message"></div>
        <form  action="https://formspree.io/f/xjvlqode"  name="myForm" onsubmit="return validateForm()"  method="POST" class="form-control"  >
          <input name="Name" id="Name" type="text"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-control" placeholder="Your name" >
          <input name="Email" id="Email" type="email"  class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr form-control" placeholder="Email Address" >
          <input name="Contact number" id="Contact number" type="text"  class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr form-control" placeholder="Contact number" >
          <input name="Subject" id="Subject" type="text"  class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr form-control" placeholder="Subject" >
          <textarea name="Comments" id="Comments" cols="" rows=""  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-control" placeholder="Message"></textarea>
          <button type="submit" class="btn text-white ">SEND</button>
          
        </form>
      </div>
    </div>
  </div>
</section>



<!-- footer -->
<section id="footer">
	<section id="banner">
		<div class="container-fluid">
		<div class="row" id="banner-row">
			<div class="col-md-6 hello" id="footer-col1">
			<h3 class="title">Cheers Makeover</h3>
      <p class="address">
        24,VGB Garden,Chola nagar,K.Kulam,Erode-638004.
      </p>
				
<p class="info">
				At Cheers makeover we believe that customers should
				always get easy-to-use, best in the kind
				and fast services.Cheers makeover has achieved
				standards which helps customer to
				achieve satisfaction and realize
				value for their hard earned money.
			</p>

			</div>
			<div class="col-md-6 hello" id="footer-col2">
			<h3 class="title">Contact Us</h3>
				
<p class="call"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
	<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
  </svg>&emsp14;&emsp14;&emsp14;Call Us- 9788431040</p>

				
<p class="mail"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
	<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
  </svg>&emsp14;&emsp14;&emsp14;Email Us- cheerstamizhachi@gmail.com</p>

			</div>

			
		</div>
		</div>
	</section>
	</section>
  

  <script>
    function validateForm() {
let a = document.forms["myForm"]["Name"].value;
let b = document.forms["myForm"]["Email"].value;
let c = document.forms["myForm"]["Contact number"].value;
let d = document.forms["myForm"]["Subject"].value;
let e = document.forms["myForm"]["Comments"].value;

if (a == "") {
alert("Name must be filled out");
return false;
}
if (b == "") {
alert("Email must be filled out");
return false;
}
if (c == "") {
alert("Contact number must be filled out");
return false;
}
if (d == "") {
alert("Subject must be filled out");
return false;
}
if (e == "") {
alert("Message must be filled out");
return false;
}

}

window.onbeforeunload = () => {
  for(const form of document.getElementsByTagName('form')) {
    form.reset();
  }
}
</script>


